* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(img/home-background2.png); 
	background-repeat: no-repeat;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00b4d8;
}

::-webkit-scrollbar-thumb:hover {
  background: #0077b6;
}

/*top navbar styling*/
.top-header {
	height: auto;
	min-width: 100%;
	margin: 0;
  	padding: 0;
}

header {
	min-width: 100vw;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	float: left;
	padding-top: 5px;
	color: black;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 15px 2px black;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
}

nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #0077b6;
}

.btn {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background-color: #0077b6;
	color: #fff;
}

.btn:hover {
	color: #2e2e2e;
	background: white;
}


/*content home page*/
h1 {
	color: black;
	padding-left: 50px;
	float: left;
	margin-top: 100px;
	font-size: 55px;
}

p {
	float: left;
	margin-top: 50px;
	padding-right: 300px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: black;
}
/*end of design content*/

/*about footer*/
footer {
	background: #0077b6;
	padding-bottom: 50px 0;
	float: left;
	width: 100%;
	margin-top: 245px;
}

footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

footer .footer-container p {
	color: white;
}







