@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url(img/home-background2.png); 
	background-repeat: no-repeat;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00b4d8;
}

::-webkit-scrollbar-thumb:hover {
  background: #0077b6;
}

/*top navbar styling*/
.top-header {
	height: auto;
	min-width: 100%;
	margin: 0;
  	padding: 0;
}

header {
	min-width: 100vw;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	float: left;
	padding-top: 5px;
	color: black;
	background-color: white;
	width: 100%;
	box-shadow: 0 0 15px 2px black;
	position: fixed;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin: 0 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding: 8px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
}

nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: #0077b6;
}

.btn {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background-color: #0077b6;
	color: #fff;
}

.btn:hover {
	color: #2e2e2e;
	background: white;
}

/*content home page*/
h1 {
	color: black;
	padding-left: 50px;
	float: left;
	margin-top: 100px;
	font-size: 55px;
}

.box p {
	float: left;
	margin-top: 50px;
	padding-right: 300px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: black;
}

.footer-container p {
	float: left;
	margin-top: 50px;
	padding-right: 300px;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	color: white;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	margin-top: 5px;
	margin-right: 120px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}



/*end of design content*/

/*about footer*/
footer {
	background: #0077b6;
	padding-bottom: 50px 0;
	float: left;
	width: 100%;
	margin-top: 245px;
}

@media only screen and (max-width: 600px) {
	
	body {
		background-image: none;

	}

	.active {
		/*display: none;*/
	}

	.navbar {
		flex-direction: column;
        align-items: flex-start;
        width: 104%;
	}

	.navbar-links {
		display: none;
        width: 100%;
	}

	.navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .btn {
    	display: none;
    }

	.toggle-button {
        display: flex;
        margin-right: 10px;
    }

	h1 {
		margin-right: 150px;
		font-size: 30px;
		font-weight: 10px;
		margin-top: 80px;
	}

	p {
		font-size: 20px;
	}

	.logo-img {
		height: 50px;
		width: 200px;
		margin-left: 30px;
	}

	footer {
		color: white;
		background: #0077b6;
		width: 104%;
	}

}







