* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background: url(img/lesson1-background.png);
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00b4d8;
}

::-webkit-scrollbar-thumb:hover {
  background: #0077b6;
}

p {
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    margin-top: -50px; 
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.service-swipe {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.service-swipe a {
    padding: 0;
    margin: 40px 10px;
}
.service-swipe .s-card {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 150px;
    box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
    0 0 50px rgba(0,0,0,0.8);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}
.service-swipe .s-card p {
    color: #f2f2f2;
    font-size: 1.2em;
    font-family: 'Open Sans',sans-serif;
    float: left;
    text-align: center;
}
.service-swipe .s-card:hover {
    box-shadow: 0 0 50px rgba(255,255,255,0.8);
    transform: translateY(-10px);
}

#title{
    text-align: center;
    padding: 0.8rem 0;
    font-size: 3rem;
    color: rgb(49,70,7);
    background: rgba(105,224,90,0.55);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.questions{
	text-align: center;
    margin: 3rem auto;
    font-size: 20px;
    width: 800px;
    float: left;
    margin-left: 280px;
    color: white;
    padding: 2rem;
    cursor: default;
    border-radius: 5px;
}
#question{
    margin-bottom: 1rem;
}
.option{
    margin-bottom: 0.5rem;
    font-size: 20px;
    width: 700px;
    border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background: #0077b6;
	color: #fff;
    border-radius: 1rem;
}
.option:hover{
    color: #2e2e2e;
	background: white;
}
ol{
    position: relative;
    padding: 0 1.5rem;
    color: white;
}
span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}
#answer{
    margin-top: 2.5rem;
}
#stat{
    margin-top: 1.5rem;
    color: white;
}
.buttons{
    text-align: center;
}
button{
	font-size: 20px;
	padding: 10px;
    border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background-color: #0077b6;
	color: #fff;
	margin-left: 270px;
	margin-right: 280px;
	margin-top: -10px;
}
button:hover{
    color: #2e2e2e;
	background: white;
}

.score-btn {
	font-size: 20px;
	padding: 10px;
    border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background-color: #0077b6;
	color: #fff;
	float: left;
	margin-top: -47px;
	margin-left: 640px;
}

.score-btn:hover {
	color: #2e2e2e;
	background: white;
}

.score-btn1 {
	font-size: 20px;
	padding: 10px;
    border: 2px solid #00b4d8;
	text-decoration: none;
	transition: .5s;
	background-color: #0077b6;
	color: #fff;
	float: left;
	margin-top: 50px;
	margin-left: 110px;
}

.score-btn1:hover {
	color: #2e2e2e;
	background: white;
}

.score-btn3 {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #00b4d8;
    text-decoration: none;
    transition: .5s;
    background-color: #0077b6;
    color: #fff;
    float: left;
    margin-top: 50px;
    margin-left: 90px;
}

.score-btn3:hover {
    color: #2e2e2e;
    background: white;
}

.lesson-btn2 {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #00b4d8;
    text-decoration: none;
    transition: .5s;
    background-color: #0077b6;
    color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}

.lesson-btn2:hover {
    color: #2e2e2e;
    background: white;
}

.lesson-btn4 {
    font-size: 20px;
    padding: 10px;
    border: 2px solid #00b4d8;
    text-decoration: none;
    transition: .5s;
    background-color: #0077b6;
    color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 125px;
}

.lesson-btn4:hover {
    color: #2e2e2e;
    background: white;
}

#scoreboard,#answerBank{
    width: 20rem;
    background: #0077b6
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 20px;
    display: none;
}

#score-title{
    margin: 1rem 0;
    color: white;
}
#check-answer{
    width: 300px;
    margin-top: 10px;
    margin: auto;
}
#score{
    font-size: 2.5rem;
    color: white;
}
#answerBank li{
    text-align: center;
    margin-bottom: 0.2rem;
    font-size: larger;
    color: white;
}
#answers{
    margin-top: 1rem;
}

@media only screen and (max-width: 600px) {
    body {
        background: url(img/lesson1-background.png);
        background-size: 2000px;
    }

    .questions{
        font-size: 20px;
        width: 340px;
        margin-left: 10px;
    }

    #question{
        margin-bottom: 50px;
    }

    .option{
        margin-bottom: 10px;
        font-size: 15px;
        width: 250px;
    }

    button{
        font-size: 15px;
        margin: auto;
    }

    .prev {
        margin-left: 18px;
    }

    .score-btn {
        font-size: 15px;
        margin-top: 20px;
        margin-left: 155px;
        margin-bottom: 10px;
    }

    #score-title{
        color: white;
        margin-left: 20px;
    }
    #check-answer{
        width: 200px;
        margin-top: 10px;
        margin-left: 20px;
    }
    #score{
        font-size: 2.5rem;
        color: white;
        margin-left: 20px;
    }
    #answerBank li{
        text-align: center;
        margin-bottom: 0.2rem;
        font-size: 20px;
    }

    h2 {
        color: white;
    }
    

}







